/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
  background:#ffffff;
  border-bottom:none;
}

/* LOGO */
.nav-logo{
  width:70px;
}

/* TITLE */
.nav-center{
  font-size:20px;
  font-weight:600;
}

.brand-link{
  text-decoration:none;
}

.spare-text{
  color:#2f6fed;
}

.kart-text{
  color:#f47c20;
}

/* RIGHT */
.nav-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.cart{
  font-size:20px;
  cursor:pointer;
}

/* MINI PROFILE */
.profile-mini{
  display:flex;
  align-items:center;
  gap:8px;
  cursor:pointer;
  background:#2f6fed;
  color:white;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

.mini-img{
  width:24px;
  height:24px;
  border-radius:50%;
  object-fit:cover;
}

/* ================= FOOTER ================= */

.footer{
  background:#0c1c3a;
  color:white;
  padding:40px;
}

.footer-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.footer h4{
  margin-bottom:15px;
}

.footer p{
  font-size:14px;
  color:#d1d5db;
  margin-bottom:10px;   /* spacing between links */
}

/* clickable footer links */
.footer-link{
  color:#d1d5db;
  text-decoration:none;
}

.footer-link:hover{
  text-decoration:underline;
}

/* brand colors */
.brand-blue{
  color:#2f6fed;
  font-weight:bold;
}

.brand-orange{
  color:#ff7a00;
  font-weight:bold;
}

/* copyright */
.copyright{
  text-align:center;
  margin-top:30px;
  border-top:1px solid rgba(255,255,255,0.2);
  padding-top:15px;
  font-size:13px;
}
