*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.login-page{
  height:100vh;
  background:#eef1f6;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.top-logo{
  width:150px;
  margin-bottom:20px;
}

.login-card{
  width:330px;
  background:white;
  padding:35px;
  border-radius:14px;
  box-shadow:0 4px 14px rgba(0,0,0,0.08);
  text-align:center;
}

.circle-icon{
  width:45px;
  height:45px;
  border-radius:50%;
  background:#e7edff;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  color:#2f6fed;
  font-size:20px;
  margin-bottom:12px;
}

.subtitle{
  font-size:13px;
  color:#777;
  margin-bottom:18px;
}

label{
  display:block;
  text-align:left;
  font-size:13px;
  margin-top:12px;
}

input{
  width:100%;
  padding:12px;
  margin-top:6px;
  border-radius:8px;
  border:1px solid #ddd;
}

.forgot{
  text-align:left;
  font-size:13px;
  margin:12px 0;
}

.login-btn{
  width:100%;
  padding:12px;
  background:linear-gradient(90deg,#2f6fed,#3e73d6);
  border:none;
  border-radius:8px;
  color:white;
  font-weight:bold;
  cursor:pointer;
  margin-top:5px;
}

.register{
  margin-top:18px;
  font-size:13px;
}

.error{
  color:red;
  font-size:12px;
}
