*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

.page{
  height:100vh;
  background:#f3f5f9;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.logo{
  width:160px;
  margin-bottom:20px;
}

.card{
  width:420px;
  background:#fff;
  padding:35px;
  border-radius:12px;
  box-shadow:0 4px 14px rgba(0,0,0,0.08);
  text-align:center;
}

.sub{
  color:gray;
  font-size:13px;
  margin-bottom:20px;
}

.card input{
  width:100%;
  padding:14px;
  margin-bottom:12px;
  border-radius:8px;
  border:1px solid #ddd;
}

.btn{
  width:100%;
  padding:14px;
  background:#2f6fed;
  color:white;
  border:none;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
}

.error{
  color:red;
  font-size:13px;
  margin-bottom:10px;
}

.loginlink{
  margin-top:15px;
  font-size:14px;
}

.loginlink span{
  color:#2f6fed;
  cursor:pointer;
}
